.header{
  width:100%;
  height:80px;
  background: #f9cd16;
  line-height: 1;
}

.logo{
  position:absolute;
  top: 4px;
  left:10px;

  &-link{
    display: block;
    width:230px;
    height:71px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -99999px;
  }
}

.gnb{
  position: relative;
  z-index: 10;
  width: 842px;
  margin:0 auto;

  &-depth1{

    &:after{
      content: "";
      display: block;
      clear: both;
    }


    &-item{
      float: left;
      padding:40px 40px 0 0;
      position:relative;

      &:last-child{
        padding-right:0;
      }
    }

    &-link{
      display: block;
      height:40px;
    }
  }

  &-depth2{
    width:170px;
    height: 0;
    background: black;
    margin-right: 15px;
    position:absolute;
    left:-15px;
    overflow: hidden;


    &.clearance{
      left:-8px;
    }

    &.height230{
      position:absolute;
      left:-20px;
    }

    &-link{
      display:inline-block;
      color:#fff;
      margin:25px 0 0 20px;
    }
  }
}

.font18{
  font-size: 18px;
  font-weight: 500;
}

.style-guide{
  position:absolute;
  top: 40px;
  right:10px;
}






